@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
.btn-big, html body .content .cost .btn, html body .content .trust .btn-client, html body .content .tools .item-sx .btn {
  width: 200px/340px;
  padding: 28px 39px;
  font-size: 22px;
  font-family: coolvetica;
  background-color: #fff;
  color: #000a19;
  border-radius: 60px;
  margin-top: 43px;
  transition: 0.3s all ease-in-out;
}
.btn-big:hover, html body .content .cost .btn:hover, html body .content .trust .btn-client:hover, html body .content .tools .item-sx .btn:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: coolvetica;
  src: url(../assets/fonts/coolvetica-rg.ttf);
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes rotatecircle {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
html {
  height: 100%;
  width: 100%;
}
html body {
  background: #000a19;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
html body .container-atsj {
  max-width: 1640px !important;
}
html body header {
  height: 100%;
  width: 100%;
  transition: all ease-in-out 0.6s;
  position: relative;
}
html body header .back-header {
  position: absolute;
  top: 0 !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
html body header .navbar {
  background-color: transparent !important;
  padding-top: 15px;
  position: fixed !important;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
html body header .navbar .container-atsj .navbar-brand {
  margin-right: 60px;
}
html body header .navbar .container-atsj ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between !important;
  width: 100%;
}
html body header .navbar .container-atsj ul li a {
  color: #fff !important;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}
html body header .navbar .container-atsj ul li .active {
  padding: 5px 20px;
  border-radius: 30px;
  background-color: #dd3b30;
}
html body header .new-nav {
  background-color: black !important;
  box-shadow: 0px 8px 20px rgba(221, 60, 48, 0.16);
}
html body header .all-pl {
  position: relative;
  padding-top: 14%;
}
html body header .all-pl .atsjcn {
  background-color: transparent;
  max-width: 940px;
  display: block;
  margin: auto;
}
html body header .all-pl .atsjcn h1 {
  font-family: coolvetica;
  color: #dd3b30;
  font-size: 83px;
}
html body header .all-pl .atsjcn p {
  color: white;
  margin-top: 20px;
}
html body .content {
  color: #fff;
}
html body .content .us {
  min-height: 600px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
html body .content .us .clouds {
  position: absolute;
}
html body .content .us .cloud-1 {
  top: -140px;
  left: -140px;
}
html body .content .us .cloud-2 {
  right: -140px;
  top: -140px;
}
html body .content .us .cloud-3 {
  bottom: 10px;
  left: -140px;
}
html body .content .us .cloud-4 {
  right: -140px;
  bottom: 10px;
}
html body .content .us .serves-hq {
  bottom: 80px;
  right: 100px;
  animation: float 2.5s ease-in-out infinite;
}
html body .content .us .container-atsj {
  padding-top: 138px;
}
html body .content .us .container-atsj .text-left {
  max-width: 440px;
}
html body .content .us .container-atsj .text-left h1 {
  font-size: 133px;
  font-family: coolvetica;
  margin-top: -30px;
  margin-bottom: 0;
}
html body .content .us .container-atsj .text-left h4 {
  font-size: 63px;
  color: #aaaaaa;
  font-family: coolvetica;
  margin-top: -30px;
  margin-bottom: 0;
}
html body .content .us .container-atsj .definition p {
  font-size: 20px;
}
html body .content .services {
  width: 100%;
  padding-top: 130px;
  min-height: 650px;
}
html body .content .services .text {
  width: 700px;
}
html body .content .services .text h2 {
  font-family: coolvetica;
  font-size: 63px;
}
html body .content .services .text p {
  font-size: 20px;
  margin-top: 0px;
}
html body .content .services .row {
  margin: 163px;
}
html body .content .services .item-sx {
  width: 190px;
  height: 190px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
  padding-top: 20px;
  background-color: #000a19;
  transition: 0.3s ease-in-out;
}
html body .content .services .item-sx:hover {
  transform: scaleX(-1);
}
html body .content .services .item-sx::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: 100%;
  background: linear-gradient(-45deg, #ff4500, #ff7cc3, #006dff, #ff1000);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}
html body .content .services .item-sx img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
html body .content .services .description h3 {
  margin-top: 35px;
  font-weight: 300;
  font-size: 20px;
}
html body .content .tools .item-sx .title {
  max-width: 443px;
}
html body .content .tools .item-sx .title h1 {
  color: #dd3b30;
  font-family: coolvetica;
  font-size: 63px;
}
html body .content .tools .item-sx .paraf {
  max-width: 600px;
  color: white;
  margin-top: 40px;
}
html body .content .tools .item-bg {
  display: block;
  margin-right: auto;
  float: right;
  padding: 30px;
  height: 500px;
  width: 500px;
  border-radius: 100%;
  background: black;
  position: relative;
  background: transparent;
}
html body .content .tools .item-bg img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  position: relative;
  z-index: 3;
  animation: float 2.5s ease-in-out infinite;
}
html body .content .tools .item-bg .blured {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(90deg, black 0%, #a90faf 32%, #35208b 57%, #934409 79%, black 100%);
  filter: blur(30px);
  opacity: 0.19;
}
html body .content .patner .item-sx {
  display: block;
  margin: 200px auto;
}
html body .content .patner .item-sx img {
  width: 100%;
}
html body .content .clients {
  min-height: 602px;
}
html body .content .clients h1 {
  font-family: coolvetica;
  font-size: 63px;
  text-align: center;
  margin-top: 100px;
}
html body .content .clients .client-logos {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}
html body .content .clients .client-logos .item {
  align-content: center;
  align-items: center;
}
html body .content .trust h1 {
  font-family: coolvetica;
  font-size: 63px;
}
html body .content .trust .content-sx {
  max-width: 670px;
  height: 450px;
  position: relative;
  margin-top: 100px;
}
html body .content .trust .content-sx .title {
  font-family: coolvetica;
  font-size: 63px;
  color: #dd3b30;
}
html body .content .trust .content-sx .paraf {
  color: #fff;
  font-weight: 300;
  margin-top: 30px;
}
html body .content .trust .content-sx .footer-item {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: space-between;
}
html body .content .trust .content-sx .footer-item .autor {
  margin-top: 30px;
}
html body .content .trust .content-sx .footer-item .autor a {
  color: #dd3b30;
}
html body .content .trust .content-sx .footer-item .autor .job {
  margin-top: 15px;
}
html body .content .trust .content-sx .footer-item .autor .job p {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: -5px;
}
html body .content .trust .content-sx .footer-item .profile {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: black;
  position: relative;
  padding: 5px;
  background: #ea3f00;
  background: linear-gradient(0deg, #ea3f00 0%, #ffe200 51%, #ff00d8 100%);
}
html body .content .trust .content-sx .footer-item .profile a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 3px 21px #dd3b30;
  border-radius: 100%;
}
html body .content .trust .content-sx .footer-item .profile:hover {
  box-shadow: 0px 6px 35px #dd3b30;
}
html body .content .trust .btn-client {
  width: 289px !important;
  padding: 18px 29px;
  display: block;
  margin: 100px auto;
}
html body .content .cost h1 {
  font-family: coolvetica;
  font-size: 63px;
}
html body .content .cost p {
  margin-top: 30px;
}
html body .content .cost ul {
  margin-top: 50px;
}
html body .content .cost ul li {
  display: inline-block;
  margin: 20px;
  color: #dd3b30;
  font-size: 20px;
  font-weight: 600;
}
html body .content .cost .btn {
  background-color: #dd3b30;
  color: #fff;
  padding: 18px 29px;
}
html body .content .logo-patner {
  background-color: #1a2b4138;
}
html body .content .logo-patner .items {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
  padding: 20px;
}
html body .content .logo-patner .items img {
  margin: 20px;
}

/*# sourceMappingURL=style.css.map */
