/* Error: expected ";".
 *    ,
 * 12 | $box-text: 2px 14px 24px -10px rgba(0, 0, 0, 0.75);
 *    |          ^
 *    '
 *   scss/vars.scss 12:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 12 \2502  $box-text: 2px 14px 24px -10px rgba(0, 0, 0, 0.75);\a    \2502           ^\a    \2575 \a   scss/vars.scss 12:10  root stylesheet';
}
