@mixin flexRow {
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
@mixin flexColum {
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
@mixin bigBtn {
  width: 200px/340px;
  padding: 28px 39px;
  font-size: 22px;
  font-family: $coolvetica;
  background-color: $white;
  color: $dark-solvex;
  border-radius: 60px;
}

@mixin subtitleSection {
  font-family: $coolvetica;
  font-size: 63px;
}

.btn-big {
  @include bigBtn;
  margin-top: 43px;
  transition: 0.3s all ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin back-html {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@mixin blockItem {
  display: block;
  margin: auto;
}

@mixin fitImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
