@import "main";

@media screen and (max-width: 1440px) {
  html {
    body {
      .container-atsj {
        max-width: 1160px;
      }

      header {
        .navbar {
          display: table;
        }
      }

      .content {
        .us {
          .serves-hq {
            right: 40px;
          }

          .container-atsj {
            .text-left {
              h2 {
                font-size: 90px;
                line-height: 38px;
                .mini {
                  font-size: 50px;
                }
              }
            }
          }
        }

        .services {
          .item-sx {
            width: 150px;
            height: 150px;

            img {
              margin-top: 20px;
              width: 80px;
            }
          }
        }

        .trust {
          .content-sx {
            .title {
              h1 {
                font-size: 43px;
              }
            }

            .paraf,
            .footer-item {
              max-width: 443px;
            }
          }
        }

        .cost {
          ul {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 991px) {
  body {
    .magic {
      display: none !important;
    }
    .container {
      padding: 25px;
    }

    header {
      .navbar {
        .container-atsj {
          .navbar-nav {
            display: block;
            padding: 35px 15px 15px 0;

            li {
              .active {
                background: transparent;
                color: $orange-solvex !important;
                position: relative;

                &::before {
                  content: " ";
                  position: absolute;
                  top: 11px;
                  left: 0;
                  width: 10px;
                  height: 10px;
                  border-radius: 100%;
                  background-color: $orange-solvex;
                }
              }
            }
          }
        }
      }
    }

    .content {
      h3 {
        margin-bottom: 40px !important;
      }
      p {
        font-size: 20px !important;
      }
      .us {
        .clouds {
          display: none;
        }
        .container-atsj {
          .title {
            width: 100%;
            .text-left {
              max-width: 680px !important;
              text-align: center;
              @include blockItem;
              h2 {
                font-size: 90px;
                line-height: 70px !important;
                .mini {
                  font-size: 90px !important;
                }
              }
            }
          }
          .definition {
            max-width: 700px;
            @include blockItem;
          }
        }
      }
      .services {
        margin-top: 400px !important;
        min-height: unset;
        margin-bottom: 0;
        .text {
          text-align: center;
          h3 {
            max-width: 550px;
            text-align: center;
            @include blockItem;
          }
        }
        .row {
          margin: 0 !important;
          .description {
            margin-bottom: 60px;
          }
        }
      }
      .tools {
        .item-sx {
          text-align: center;
          @include blockItem;

          .title,
          .paraf,
          .btn {
            @include blockItem;
          }
          .paraf {
            max-width: 700px !important;
          }
          .btn {
            margin-top: 90px !important;
          }
        }

        .item-bg {
          @include blockItem;
          margin-top: 110px;
          float: none !important;
        }
      }
    }

    .trust {
      .desktop-trust {
        display: none !important;
      }

      .content-sx {
        max-width: 100% !important;
        @include blockItem;
        text-align: center;
        height: auto !important;

        .title,
        .paraf,
        .footer-item {
          max-width: 70% !important;
          @include blockItem;
          position: relative !important;
        }
      }

      .owl-carousel {
        display: block !important;
        .content-sx {
          padding: 15px;
          text-align: left;
          .title {
            h1 {
              font-size: 25px;
              text-align: center;
              font-family: $coolvetica;
              color: $orange-solvex !important;
            }
          }
          .paraf {
            max-width: 100% !important;
          }
        }
        .footer-item {
          max-width: 100% !important;
        }
      }
    }
    .cost {
      h3 {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  html {
    body {
      header {
        .all-pl {
          .container {
            .atsjcn {
              margin-top: 21%;
              h1 {
                font-size: 55px;
              }
            }
          }
        }
      }
      .content {
        h3 {
          font-size: 50px !important;
          @include blockItem;
          margin-bottom: 30px;
        }
        .us {
          margin-top: 15px;
          .container-atsj {
            padding-top: 80px;
            .title {
              margin-bottom: 15px;
              .text-left {
                line-height: 5px;
                h2 {
                  text-align: center;
                }
              }
            }
            .definition {
              margin-top: 50px;
              max-width: 600px;
              p {
                text-align: left;
              }
            }
          }
        }
        .services {
          padding-top: 0px;
          margin-top: 240px;
          .title {
            @include blockItem;
            max-width: 600px;
            margin-bottom: 120px;
            .text {
              p {
                text-align: left;
              }
            }
          }
        }
        .patner {
          .item-sx {
            img {
              width: 100%;
              @include blockItem;
            }
          }
        }
        .tools {
          .item-sx {
            .title {
              max-width: 700px !important;
              // h3 {
              //   max-width: 700px !important;
              // }
            }
            .paraf {
              max-width: 600px !important;
              p {
                text-align: left;
              }
            }
          }
        }
        .logo-patner {
          margin-top: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 442px) {
  html {
    body {
      .btn {
        padding: 20px 32px !important;
        font-size: 15px !important;
        width: 90%;
      }
      header {
        nav {
          padding-top: 0px !important;
          padding-bottom: 0px !important;
        }
        .all-pl {
          .container-atsj {
            .atsjcn {
              margin-top: 50%;
              h1 {
                font-size: 32px;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
      .content {
        .services,
        .tools,
        .patner,
        .clients,
        .trust,
        .cost,
        .logo-patner {
          h3 {
            font-size: 36px !important;
            text-align: left;
            max-width: 195px !important;
          }
        }
        h3 {
        }
        p {
          font-size: 15px !important;
        }
        .us {
          .container-atsj {
            .title {
              max-width: 342px;
              @include blockItem;
              .text-left {
                h2 {
                  font-size: 45px !important;
                  line-height: 40px !important;
                  text-align: left;
                  .mini {
                    font-size: 45px !important;
                  }
                }
              }
            }
            .definition {
              max-width: 342px;
              p {
                font-size: 15px !important;
              }
            }
          }
        }
        .services {
          margin-top: 70px !important;
          .title {
            margin-bottom: 70px;
            .text {
              max-width: 342px;
              h3 {
                max-width: 195px;
                text-align: left;
                margin-left: 0;
                margin-bottom: 18px !important;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
        .tools {
          margin-top: 70px;
          .item-sx {
            max-width: 342px;
            .title {
              h3 {
                max-width: unset !important;
                margin-bottom: 18px !important;
              }
            }
            .paraf {
              margin-top: 0;
            }
          }
          .item-bg {
            display: none !important;
          }
        }
        .patner {
          margin-top: 70px !important;
          .item-sx {
            img {
              width: 90%;
            }
          }
        }
        .clients {
          margin-top: 70px;
          .title {
            max-width: 342px;
            @include blockItem;
            h3 {
              margin-top: 0;
              max-width: unset !important;
              margin-bottom: 18px !important;
            }
          }
        }
        .trust {
          margin-top: 70px;
          .title {
            h3 {
              text-align: left !important;
            }
          }
          .btn-client {
            padding: 20px 32px !important;
            font-size: 15px !important;
          }
          .owl-carousel {
            .title {
              h1 {
                font-size: 35px;
              }
            }
          }
        }
        .cost {
          margin-top: 70px;

          .title {
            max-width: 342px;
            @include blockItem;
            h3 {
              max-width: unset !important;
              margin-bottom: 18px !important;
              text-align: center;
            }
          }
          ul {
            padding-left: 0px;
          }
        }
      }
    }
  }
}
