$back-solvex: #162539;
$dark-solvex: #000a19;
$middle-solvex: #1a2b4138;
$orange-solvex: #dd3b30;
$original-solvex: #0d4b84;
$blue-t-solvex: #3888f4;
$yellow-sx: #ead801;
$white: #fff;
$gray-solvex-text: #aaaaaa;
$justify-center: center;
$justify-between: between;
$coolvetica: coolvetica;
$box-text: 2px 14px 24px -10px rgba(0, 0, 0, 0.75);
$box-shadow: 0px 12px 34px #dd3b30;
$color-tabs: #162539;
