$back-solvex: #162539;
$dark-solvex: #000a19;
$middle-solvex: #1a2b4138;
$orange-solvex: #dd3b30;
$white: #fff;
$gray-solvex-text: #aaaaaa;

$justify-center: center;
$justify-between: between;
$coolvetica: coolvetica;
$box-text: 2px 14px 24px -10px rgba(0, 0, 0, 0.75);
